h1 {
    margin-top: 0;
}
.date-value {
    display: flex;
}
p {
    margin: 0;
    width: 20%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.calendar-container {
    display: flex;
    flex-wrap: wrap;
    /* Add any additional styling here */
  }

.year-section {
    width:50%;
}

.year-section-margin {
    margin-top: 2rem;
  }

  @media (max-width: 900px) {
    .year-section {
        width:100%;
    }
    .year-section-margin {
        margin-top: 0;
    }
    .date-value {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;
    }
    .date-value p {
        width: 100%;
        font-weight: 500;
    }

    @media (max-width: 500px) {
        /* .calendar-container {
            margin-top: -1.3rem;
        } */
    }
}


