.content {
    display: flex;
    flex-direction: row;
}

.rich-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 2rem;
}

.rich-text p {
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.rich-text b {
    margin-right: 1rem;
    /* margin-left: 1rem; */
}

.rich-text a {
    margin-right: 1rem;
}

.rich-text u {
    margin-left: 0.5rem;
}

.rich-text ul {
    margin: 1rem 0;
}

.rich-text li {
    margin: -1rem 0;
}

.multimedia {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.multimedia iframe, .multimedia img {
    margin-bottom: 1rem; /* Adjust this value as needed */
}

.multimedia :last-child {
    margin-bottom: 0;
}

/* Style for video iframes (Vimeo and YouTube) */
.multimedia .video-iframe {
    width: 100%; /* Full width of the container */
    height: auto; /* Auto height to maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}

/* Optionally, for browsers that don't support aspect-ratio property */
.multimedia .video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin-bottom: 2rem;
}

.multimedia .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.multimedia :last-child {
    margin-bottom: 0;
}

a:hover {
    text-decoration: line-through;
}

a.header-link:hover,
a.weird-font:hover, a:hover .image-text .image-description  {
    text-decoration: none !important;
}

a:hover .image-text p{
    text-decoration: line-through;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Prevents image distortion */
    object-fit: contain; /* Ensures the entire image is visible */
    display: block; /* Fixes any inline spacing issues */
  }
  


@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }
    .rich-text {
        width: 80%;
    }
    .multimedia {
        width: 100%;
        margin-top: 1rem;
    }
    .image-container {
        height: 100% !important;
        }
}

@media (max-width: 500px) { 
    .rich-text {
        width: 100%;
        margin-right: 0;
    }
   
}