  h1 {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: -2px;
  }

  .featured-row {
    display: flex;
    margin-bottom: 20px; /* Space between rows */
  }
  
  .featured-item {
    flex-grow: 1;
    margin-right: 20px; /* Space between items */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }
  
  .featured-item:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  

  .image-container {
    width: auto;
    height: 55vh; /* Fixed height */
    background-size: cover; /* Ensures the image fills the entire container */
    background-position: center center; /* Ensures the image stays centered both vertically & horizontally */
    background-repeat: no-repeat; /* Prevents image repetition */
    overflow: hidden; /* Hides any overflow */
}


  .image-text {
    display: flex;
    flex-direction: column;
  }

  .image-text p{
    width: 100%;
  }

  p.image-description {
    color: grey !important;
  }
  
  .featured-item a {
    text-decoration: none;
  }
  
  .featured-item img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover; /* Cover the container, clip if too big */
    display: contents;
  }
  
  .featured-item p {
    text-align: left; /* Center-align the one-liner */
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    display: inline;
  }
  
  @media (max-width: 900px) {
    h1 {
      font-size: 2.5rem;
    }
    .featured-row {
      flex-direction: column;
      margin-bottom: 0;
    }
    .featured-item {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom:2rem;
    }
    .image-container {
      height: 420px;
    }
  }
  
  @media (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }
  }